<h1>showing selected article</h1>
<p>
 Tilte: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>
<%= link_to 'edit this article', edit_article_path %> |
<%= link_to 'Back to articles', articles_path %>