<div class="container">
  <footer class="footer">
     <small>
         copyright &copy; <a href="https://www.udemy.com">The complete Ruby on Rails developer</a> by <a href="https://www.mashrurhossain.com/">Mashrur Hossain</a>
     </small>
      <vav>
        <ul>
          <li><%= link_to "about", about_path %></li>
        </ul>
      </nav>
    </footer>
</div>